@model ViewModels.LoanViewModel
@{
    ViewData["Title"] = "LoanBooks";
}

<h2>Select Book</h2>
<div class="container">
    <form asp-action="LoanBooks" asp-controller="Loan">
        <select asp-for="SelectedBook" asp-items="@Model.Books">
            <option disabled selected>Please select book</option>
        </select>
        <input type="submit" value="Loan" class="btn btn-primary" />
    </form>
    <a class="btn btn-danger" asp-action="LogIn" asp-controller="User">Back</a>
</div>
@Html.ValidationMessage("CustomError", new { @class = "text-danger" })

